<!-- <p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
<div>
  <p><b> Usuario: {{user?.username}}</b></p>
  <p><b> Nombre: {{user?.firstName}}</b></p>
  <p><b> Email: {{user?.email}}</b></p>
  <p><b> Genero: {{user?.gender}}</b></p>
  <p><b> Image: {{user?.image}}</b></p>
  <img src={{user?.image}} alt="">
</div> -->



<div class="card mb-3 " style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{user?.image}} class="img-fluid rounded-start" alt="a random robot image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bienvenido {{user?.firstName}}</h5>
        <p class="card-text"><b> Usuario: {{user?.username}}</b></p>
        <p class="card-text"><b> Nombre: {{user?.firstName}}</b></p>
        <p class="card-text"><b> Email: {{user?.email}}</b></p>
        <p class="card-text"><b> Genero: {{user?.gender}}</b></p>

      </div>
    </div>
  </div>
</div>

